*{
  background-color: black;
}

.App{
  margin-top: 100px;
}

.candles-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.candle-container1 {
  position: relative;
  width: 50px;
}

.candle {
  display: block;
  width: 50px;
  height: auto;
}

.button {
  display: block;
  background-color: yellow;
  margin: 100px auto;
  opacity: 0.8;
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.flame {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  animation: flicker 1s infinite alternate;
}

.button_container{
  display: flex;
}

h1{
  color: yellow;
  font-size: 100px;
  margin: 100px auto;
  text-align: center;
  opacity: 0.8;
}

@keyframes flicker {
  0% {
    transform: translateX(-58%) translateY(0px) rotate(-6deg) scale(1);
    opacity: 0.9;
  }
  20% {
    transform: translateX(-55%) translateY(-1px) rotate(4deg) scale(1.03);
    opacity: 1;
  }
  40% {
    transform: translateX(-60%) translateY(2px) rotate(-3deg) scale(0.97);
    opacity: 0.85;
  }
  60% {
    transform: translateX(-56%) translateY(-2px) rotate(5deg) scale(1.05);
    opacity: 0.95;
  }
  80% {
    transform: translateX(-59%) translateY(1px) rotate(-2deg) scale(1.02);
    opacity: 0.9;
  }
  100% {
    transform: translateX(-58%) translateY(0px) rotate(-6deg) scale(1);
    opacity: 0.9;
  }
}